<div class="mx-auto my-2 table-responsive-sm row w-100">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">{{ 'roles_responsibilities.table.index' | translate }}</th>
        <th scope="col">{{ 'roles_responsibilities.table.name' | translate }}</th>
        <th scope="col">{{ 'roles_responsibilities.table.created' | translate }}</th>
        <th scope="col">{{ 'roles_responsibilities.table.updated' | translate }}</th>
        <th scope="col">{{ 'roles_responsibilities.table.actions' | translate }}</th>
      </tr>
    </thead>
    <tbody>

      @for (item of data; track $index) {
      <tr>
        <th scope="row" [class.border-bottom-0]="$last">{{$index+1}}</th>
        <td [class.border-bottom-0]="$last">{{item.type}}</td>
        <td [class.border-bottom-0]="$last">{{item.created | date: 'MMM d, yyyy'}}</td>
        <td [class.border-bottom-0]="$last">{{item.updated | date: 'MMM d, yyyy'}}</td>
        <td [class.border-bottom-0]="$last">
          <div class="d-flex gap-2">
            <button class="btn btn-warning btn-sm" (click)="handleEdit($event,item)">
              <i class="fa-solid fa-pen-to-square"></i>
            </button>
            <button class="btn btn-danger btn-sm" (click)="handleDelete($event,item)">
              <i class="fa-solid fa-trash"></i>
            </button>
          </div>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>