<div class="mb-4">
    <ul class="list-group" id="dataList">
        <!-- Skeleton Loading Placeholder -->
        <li class="list-group-item">
            <div class="icon-container">
                <div class="skeleton skeleton-icon"></div>
                <div class="skeleton skeleton-text"></div>
            </div>
            <div class="skeleton skeleton-text"></div>
        </li>
        <li class="list-group-item">
            <div class="icon-container">
                <div class="skeleton skeleton-icon"></div>
                <div class="skeleton skeleton-text"></div>
            </div>
            <div class="skeleton skeleton-text"></div>
        </li>
        <li class="list-group-item">
            <div class="icon-container">
                <div class="skeleton skeleton-icon"></div>
                <div class="skeleton skeleton-text"></div>
            </div>
            <div class="skeleton skeleton-text"></div>
        </li>
    </ul>
</div>
