.card {
    box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.1);
    border: 0px;
    border-radius: 8px;
    min-height: 250px;
    cursor: pointer;
    background: var(--color-white);
    transition: transform 0.3s ease-in-out;
    position: relative;
    display: flex;
    align-items: center;

    .title {
        font-size: 15px;
        font-weight: 600;
        color: rgb(208, 54, 54);
    }

    .icon {
        font-size: 15px;
        color: rgb(208, 54, 54);
    }
}