.card {
  width: 330px;
  height: 80px;
  max-height: 125px;
  position: relative;
  overflow: hidden;
  border: none;
  padding: 2px 5px;
}
.wave {
  // position: absolute;
  // transform: rotate(90deg);
  // left: -31px;
  // top: 32px;
  // width: 80px;
  position: absolute;
  transform: rotate(90deg);
  left: -31px;
  top: 32px;
  width: 80px;
  max-width: 124px;
}

.message-text,
.sub-text {
  margin: 0;
  cursor: default;
}
.message-text {
  font-size: 17px;
  font-weight: 700;
}
.sub-text {
  font-size: 14px;
  color: var(--color-black);
}


.success {
  color: #28a745; // Green text for success
}

.error {
  color: #dc3545; // Red text for errors
}

.warning {
  color: #ffc107; // Yellow text for warnings
}

.info {
  color: #0749ff; // Yellow text for warnings
}