<div class="wrapper vh-100">
    <div class="d-flex justify-content-end px-2 py-3 w-100">
        <!-- {{ 'header.languageLabel' | translate }}  -->
        <div class="form-group d-flex align-items-center">
            <!-- <label for="languageSelect" class="mx-2 fw-semibold">🌐</label> -->
            <select id="languageSelect" class="form-select w-auto fs-13" [(ngModel)]="selectedLang"
                (change)="switchLang(selectedLang)">
                <option value="en">{{ 'header.english' | translate }}</option>
                <option value="ar">{{ 'header.arabic' | translate }}</option>
            </select>
        </div>
    </div>
    <div class="inner">
        <div class="container">
            <div class="heading">{{ 'forgot.title' | translate }}</div>
            <form class="form" [formGroup]="form">
                <label>{{ 'forgot.email' | translate }}</label>
                <input required autocomplete="off" formControlName="email" class="input" type="email" name="email"
                    id="email" [placeholder]="'forgot.emailPlaceholder' | translate"  maxlength="50" />
                @if (form.get('email')?.touched && form.get('email')?.invalid) {
                <div class="text-danger fs-11">
                    @if (form.get('email')?.errors?.['required'] || form.get('email')?.errors?.['email']) {
                    {{ 'validation.emailFormat' | translate }}
                    }
                    @else if (form.get('email')?.errors?.['maxlength']) {
                    {{ 'validation.emailMaxLength' | translate }}
                    }
                </div>
                }

                <button class="login-button" type="button" [disabled]="form.invalid" (click)="handleClick()">
                    {{ 'forgot.button' | translate }}
                </button>
                <span class="forgot-password">
                    <a [routerLink]="'/authentication/login'">{{ 'forgot.back' | translate }}</a>
                </span>
            </form>
        </div>
    </div>
</div>