<div class="row w-100 mx-md-0 mx-auto">
    <div class="card py-3 col-md-11 col-12 mx-auto mt-0 mt-md-3">
        <div class="d-flex">
            <span class="title-heading"> {{ 'roles_responsibilities.form.title.' + State.toLowerCase() | translate
                }}</span>
        </div>
        @if (form) {
        <form class="flex-column mt-3 row" [formGroup]="form">
            <div class="form-group col-xl-4 col-md-6 col-10">
                <label for="role-name" class="mb-2 label"> {{ 'roles_responsibilities.form.role_name_label' | translate
                    }}</label>
                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-door-open"></i></span>
                    <input type="text" formControlName="type" class="form-control" id="roletype"
                        [placeholder]="'roles_responsibilities.form.role_name_placeholder' | translate" required>
                </div>
            </div>
            <div class="col-10 col-xl-8 line ms-2 my-3"></div>

            <div class="col-xl-10 col-10 mx-auto overflow-auto table-responsive-sm row w-100">
                <table class="table table-bordered table-sm">
                    <thead class="table-dark">
                        <tr>
                            <th>{{ 'roles_responsibilities.form.table.check_all' | translate }}</th> <!-- Added -->
                            <th>{{ 'roles_responsibilities.form.table.number' | translate }}</th>
                            <th>{{ 'roles_responsibilities.form.table.feature' | translate }}</th>
                            <th>{{ 'roles_responsibilities.form.table.create' | translate }}</th>
                            <th>{{ 'roles_responsibilities.form.table.read' | translate }}</th>
                            <th>{{ 'roles_responsibilities.form.table.edit' | translate }}</th>
                            <th>{{ 'roles_responsibilities.form.table.delete' | translate }}</th>
                            <th>{{ 'roles_responsibilities.form.table.control' | translate }}</th>
                            <th>{{ 'roles_responsibilities.form.table.assignee' | translate }}</th>
                            <th>{{ 'roles_responsibilities.form.table.restore' | translate }}</th>
                        </tr>
                    </thead>
                    <tbody formArrayName="features">
                        <ng-container *ngFor="let featureControl of featuresArray.controls; let i = index"
                            [formGroupName]="i">
                            <tr>
                                <td>
                                    <input type="checkbox" [checked]="isAllActionsChecked(i)"
                                        (change)="toggleAllActions(i, $event)">
                                </td>
                                <td>{{ i + 1 }}</td>
                                <td>{{ featureControl.get('name')?.value }}</td>
                                <td><input type="checkbox" [formControl]="getFormControl(i,'create')"></td>
                                <td><input type="checkbox" [formControl]="getFormControl(i,'read')"></td>
                                <td><input type="checkbox" [formControl]="getFormControl(i,'edit')"></td>
                                <td><input type="checkbox" [formControl]="getFormControl(i,'delete')"></td>
                                <td><input type="checkbox" [formControl]="getFormControl(i,'control')"></td>
                                <td><input type="checkbox" [formControl]="getFormControl(i,'assignee')"></td>
                                <td><input type="checkbox" [formControl]="getFormControl(i,'restore')"></td>
                            </tr>
                            <tr *ngIf="featureControl.get('actions')?.errors?.['readRequired']">
                                <td colspan="6" class="text-danger">
                                    ⚠️ "Read" must be checked if any other action is selected.
                                </td>
                            </tr>
                        </ng-container>

                    </tbody>
                </table>
            </div>

            <div class="col-10 col-xl-8 line ms-2 my-3"></div>
            <div class="buttons-wrapper">
                <button class="discard-button pointer col-3 col-xl-1" (click)="handleCancel()">
                    {{ 'roles_responsibilities.form.buttons.cancel' | translate }}
                </button>
                <button class="apply-changes-button  pointer col-3  col-xl-1" [disabled]="form.invalid" type="button"
                    (click)="handleClickEvent()">
                    {{ 'roles_responsibilities.form.buttons.submit' | translate }}
                </button>
            </div>
        </form>
        }
    </div>
</div>