<div class="wrapper vh-100">
  <div class="d-flex justify-content-end px-2 py-3 w-100">
    <!-- {{ 'header.languageLabel' | translate }} -->
    <div class="form-group d-flex align-items-center">
      <!-- <label for="languageSelect" class="mx-2 fw-semibold">🌐</label> -->
      <select id="languageSelect" class="form-select w-auto fs-13" [(ngModel)]="selectedLang"
        (change)="switchLang(selectedLang)">
        <option value="en">{{ 'header.english' | translate }}</option>
        <option value="ar">{{ 'header.arabic' | translate }}</option>
      </select>
    </div>
  </div>
  <div class="inner">
    <div class="container">
      <div class="heading">{{ 'updatePassword.title' | translate }}</div>
      <form class="form" [formGroup]="form">
        <label>{{ 'updatePassword.currentPassword' | translate }}</label>

        <div class="password-container" style="position: relative;">
          <input autocomplete="off" class="input" [type]="showupdatePassword ? 'text' : 'password'"
            formControlName="old_password" type="password"
            [placeholder]="'updatePassword.placeholders.current' | translate"  maxlength="24"/>

          <button type="button" (click)="toggleUpdatePassword()" class="password-toggle-btn">
            <i [class]="showupdatePassword ? 'fa fa-eye-slash' : 'fa fa-eye'"></i>
          </button>
        </div>
        @if (form.get('old_password')?.touched && form.get('old_password')?.invalid) {
        <div class="text-danger fs-11">
          @if (form.get('old_password')?.errors?.['required']
          || form.get('old_password')?.errors?.['minlength']
          || form.get('old_password')?.errors?.['maxlength']) {
          {{ 'validation.passwordLength' | translate }}
          }
          @if (form.get('old_password')?.errors?.['passwordPattern']) {
          {{ 'validation.passwordPattern' | translate }}
          }
        </div>
        }

        <label>{{ 'updatePassword.newPassword' | translate }}</label>
        <div class="password-container" style="position: relative;">
          <input autocomplete="off" class="input" formControlName="new_password" type="password"
            [placeholder]="'updatePassword.placeholders.new' | translate"
            [type]="shownewPassword ? 'text' : 'password'" maxlength="24" />
          <button type="button" (click)="toggleNewPassword()" class="password-toggle-btn ">
            <i [class]="shownewPassword ? 'fa fa-eye-slash' : 'fa fa-eye'"></i>
          </button>
        </div>
        @if (form.get('new_password')?.touched && form.get('new_password')?.invalid) {
        <div class="text-danger fs-11">
          @if (form.get('new_password')?.errors?.['required']
          || form.get('new_password')?.errors?.['minlength']
          || form.get('new_password')?.errors?.['maxlength']) {
          {{ 'validation.passwordLength' | translate }}
          }
          @if (form.get('new_password')?.errors?.['passwordPattern']) {
          {{ 'validation.passwordPattern' | translate }}
          }
        </div>
        }

        <label>{{ 'updatePassword.confirmPassword' | translate }}</label>
        <div class="password-container" style="position: relative;">

          <input autocomplete="off" [type]="showConfrimPassword ? 'text' : 'password'" class="input"
            formControlName="confirmNewPassword" type="password"
            [placeholder]="'updatePassword.placeholders.confirm' | translate" />
          <button type="button" (click)="toggleConfrimPassword()" class="password-toggle-btn ">
            <i [class]="showConfrimPassword ? 'fa fa-eye-slash' : 'fa fa-eye'"></i>
          </button>
        </div>

        @if (form.get('confirmNewPassword')?.touched && form.get('confirmNewPassword')?.invalid) {
        <div class="text-danger fs-11">
          @if (form.get('confirmNewPassword')?.errors?.['required']
          || form.get('confirmNewPassword')?.errors?.['minlength']
          || form.get('confirmNewPassword')?.errors?.['maxlength']) {
          {{ 'validation.passwordLength' | translate }}
          }
          @else if (form.get('confirmNewPassword')?.errors?.['passwordPattern']) {
          {{ 'validation.passwordPattern' | translate }}
          }
          @else if (form.get('confirmNewPassword')?.dirty && form.errors?.['mismatch']) {
          {{ 'updatePassword.errors.mismatch' | translate }}
          }
        </div>

        }


        <div class="d-flex gap-2 mt-3">
          <button class="btn btn-outline-secondary" type="button" (click)="handleSkipClick()">
            {{ 'updatePassword.buttons.skip' | translate }}
          </button>
          <button class="btn btn-primary" type="button" [disabled]="form.invalid" (click)="handleClick()">
            {{ 'updatePassword.buttons.update' | translate }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>