<div class="model-container">
    <div class="icon-wrapper">
        <i class="fa-solid fa-users-cog"></i>
    </div>
    <div class="model-text-wrapper">
        <span class="title">{{ 'modal.assigne.title' | translate }}</span>
        <p class="descp">{{text}}</p>
    </div>
    <div class="btn-wrapper">
        <button class="btn btn-light btn-default" (click)="activeModal.close('Close click')">{{ 'modal.assigne.cancel' | translate }}</button>
        <button class="btn btn-outline-primary" (click)="handleClick()">{{ 'modal.assigne.assignee' | translate }}</button>
    </div>
</div>